.navbar{
display:flex;
justify-content: centre;
background-color: #013914;
color:white;
.container{
width: 1400px;
display: flex;
justify-content: space-between;
padding: 20px 0px;
.logo{
font-size: 34 px;
font-weight: bold;
    .text {

    }
.dot{
color: #1dbf1d ;
}
}
.links{

    display:flex;
    align-items: centre;
         gap: 24px;
    .button{
color: white;
padding:10px 20px;
border-radius: 5px;
border :1px solid white;
cursor: pointer;
background-color: transparent;
    }
}
    }
}




